{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>configurations</h2>

    <section id="configurations">

        {% for config in configs %}
            <a href="/configuration/{{ config.id }}"><h3>Name: {{ config.name }}</h3></a>
            <p>ID: {{ config.id }}</p>
            <p>Cost {{ config.cost }}</p>
            <p><a href="/configuration/{{ config.id }}/delete">Delete</a></p>
            <p><a href="/configuration/{{ config.id }}/edit">Edit</a></p>

        {% else %}
            <h3>No configurations</h3>
        {% endfor %}


    </section>

    <p id="addconf"><a href="/configuration/new">Add Configuration</a></p>
{% endblock %}

