{% extends 'pages/_base.jinja' %}

{% block content %}
<section id="homepage">
    <div>
        <a href="configurations"><button>Configurations</button></a>
        <a href="configuration/new/mb"><button>New Configuration</button></a>
        <a href="components"><button>Components</button></a>
    </div>

</section>



{% endblock %}
