{% extends 'pages/_base.jinja' %}

{% block content %}
<a href="configurations"><button>Configurations</button></a>
<a href="configuration/new"><button>New Configuration</button></a>
<a href="components"><button>Components</button></a>


{% endblock %}
