{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Configuration Form</h2>

<form method="post" action="/" class="componentForm">

    {# Drop down selection for CPUs #}
    <p>CPU</p>
    <select id="cpu" class="priced">
        <option value="" data_price="0">-- choose one --</option>
        {% for cpu in cpus %}
            <option value="{{ cpu.name }}" data_price="{{ cpu.cost }}">{{ cpu.name }}</option>
        {% endfor %}
    </select>

    {# Drop down selection for Motherboards #}
    <p>Motherboard</p>
    <select id="motherboards" class="priced">
        <option value="" data_price="0">-- choose one --</option>
        {% for mb in mbs %}
            <option value="{{ mb.name }} "  data_price="{{ mb.cost }}">{{ mb.name }}</option>
        {% endfor %}
    </select>

    {# Drop down selection for HDDS #}
    <p>HDD</p>
    <select id="hdds" class="priced">
        <option value="" data_price="0">-- choose one --</option>
        {% for hdd in hdds %}
            <option value="{{ hdd.name }} "  data_price="{{ hdd.cost }}">{{ hdd.name }}</option>
        {% endfor %}
    </select>

    {# Drop down selection for SSDS #}
    <p>SSD</p>
    <select id="ssds" class="priced">
        <option value="" data_price="0">-- choose one --</option>
        {% for ssd in ssds %}
            <option value="{{ ssd.name }} "  data_price="{{ ssd.cost }}">{{ ssd.name }}</option>
        {% endfor %}
    </select>

    {# Drop down selection for RAM #}
    <p>RAM</p>
    <select id="ram" class="priced">
        <option value="" data_price="0">-- choose one --</option>
        {% for ram in ram %}
            <option value="{{ ram.name }} "  data_price="{{ ram.cost }}">{{ ram.name }}</option>
        {% endfor %}
    </select>

    {# Drop down selection for GPUS #}
    <p>GPU</p>
    <select id="gpus" class="priced">
        <option value="" data_price="0">-- choose one --</option>
        {% for gpu in gpus %}
            <option value="{{ gpu.name }} "  data_price="{{ gpu.cost }}">{{ gpu.name }}</option>
        {% endfor %}
    </select>

    {# Drop down selection for CASES #}
    <p>Case</p>
    <select id="cases" class="priced">
        <option value="" data_price="0">-- choose one --</option>
        {% for case in cases %}
            <option value="{{ case.name }} "  data_price="{{ case.cost }}">{{ case.name }}</option>
        {% endfor %}
    </select>

    {# Drop down selection for CPU COOLERS #}
    <p>CPU Cooler</p>
    <select id="coolers" class="priced">
        <option value="" data_price="0">-- choose one --</option>
        {% for cooler in coolers %}
            <option value="{{ cooler.name }} "  data_price="{{ cooler.cost }}">{{ cooler.name }}</option>
        {% endfor %}
    </select>

    {# Drop down selection for Network Cards #}
    <p>Network Card</p>
    <select id="nwcards" class="priced">
        <option value="" data_price="0">-- choose one --</option>
        {% for nwcard in nwcards %}
            <option value="{{ nwcard.name }} "  data_price="{{ nwcard.cost }}">{{ nwcard.name }}</option>
        {% endfor %}
    </select>

    {# Drop down selection for PSUS #}
    <p>Power Supply</p>
    <select id="psus" class="priced">
        <option value="" data_price="0">-- choose one --</option>
        {% for psu in psus %}
            <option value="{{ psu.name }} "  data_price="{{ psu.cost }}">{{ psu.name }}</option>
        {% endfor %}
    </select>

    {# Drop down selection for OSES #}
    <p>Operating System</p>
    <select id="os" class="priced">
        <option value="" data_price="0">-- choose one --</option>
        {% for os in os %}
            <option value="{{ os.name }} "  data_price="{{ os.cost }}">{{ os.name }}</option>
        {% endfor %}
</select>

<button>Finish Configuration</button>
</form>


{% endblock %}

