{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Notes</h2>

    <section id="notes">

        {% for config in configs %}

                <header>
                    <h3>{{ config.name }}</h3>
                    <p>{{ config.cpu }}</h3>
                </header>


            </div>

        {% else %}

            <p>No Notes!</p>

        {% endfor %}

    </section>

{% endblock %}

