{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Notes</h2>

    <section id="notes">

        {% for note in notes %}

            <h3>{{ note.name }}</h3>

            {# <div class="note {{ 'pinned' if note.pinned }}">

                <header>
                    <h3>{{ note.name }}</h3>
                    {{ "📌" if note.pinned }}
                </header>

                <p>{{ note.body | paragraphs }}</p>

                <footer>
                    Created on {{ note.created | local | format }}
                </footer>

            </div> #}

        {% else %}

            <p>No Notes!</p>

        {% endfor %}

    </section>

{% endblock %}

