/*===========================================================
  PROJECT NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --text-col:         #fff;
    --text-col-secondary:#0f1315;

    --back-col:         #0f1315;
    --back-col-sec:     #2f393c;
    --back-col-panel:    #829ba2;
    --back-col-panel-sec:    #a6babf;
    --primary:          #829ba2;

    --nav-bar-colour:    #3f3035;
    

    --border-col:       #355;

    --accent-col:       #e43;
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--back-col);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 70rem;
    margin-inline: auto;
    padding: 1rem;
    background-color: var(--back-col-sec);
}

a, a:visited, a:active {
  color: inherit;
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;

    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--nav-bar-colour);

    nav {
        display: flex;
        gap: 1rem;

        a {
            color: var(--accent-col);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Component form */

.componentForm {
    display: flex;
    flex-direction: column;
    
    select {
        background-color: var(--back-col-panel-sec);
        border-radius: 1rem;
        color: var(--text-col-secondary);
    }

    input {
        background-color: var(--back-col-panel-sec);
        border-radius: 1rem;
        color: var(--text-col-secondary);
    }

    button {
        background-color: var(--back-col-panel-sec);
        border-radius: 1rem;
        color: var(--text-col-secondary);
        margin-top: 1rem;
    }
}

#components {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    padding: 1rem;
    

    @media (width >= 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width >= 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    div {
        margin: 0.5rem;
        background-color: var(--back-col-panel);
        border: 2px solid black;
        border-radius: 0.5rem;
        padding: 0.25rem;
        color: var(--text-col-secondary);

        
        .component {
            background-color: var(--back-col-panel-sec);
            color: var(--text-col-secondary);
        }
        
    }
    
}
/* configurations --------------------------------------------------*/

#configurations {
    display: flex;
    flex-direction: column;
}

#addconf {
    padding-top: 5rem;
}

#homepage {
    background-color: var(--back-col-sec);
    max-width: 70rem;
    max-height: 50rem;
    height: 50rem;
    gap: 2rem;
}

