/*===========================================================
  PROJECT NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --text-col:         #111;

    --back-col:         #eee;
    --back-col-panel:   #fff;

    --border-col:       #355;

    --accent-col:       #e43;
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--back-col);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 70rem;
    margin-inline: auto;
    padding: 1rem;
}

a, a:visited, a:active {
  color: inherit;
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    nav {
        display: flex;
        gap: 1rem;

        a {
            color: var(--accent-col);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Component form */

.componentForm {
    display: flex;
    flex-direction: column;
}

#components {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    padding: 1rem;
    

    @media (width >= 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width >= 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    div {
        margin: 0.5rem;
        background-color: lightgray;
        border: 2px solid black;
        border-radius: 0.5rem;
        padding: 0.25rem;
        
        .component {
            background-color: rgb(165, 165, 165);
        }
        
    }
    
}
/* configurations --------------------------------------------------*/

#configurations {
    display: flex;
    flex-direction: column;
}

#addconf {
    padding-top: 5rem;
}

