<form method="post" action="/configuration/{{ config.id }}/final/edit">

    <label>Cost<input id="totalNum" value="0" type="number" name="cost" readonly></label>
    <fieldset>
        <label>
            Powersupply
            <select name="psu" required class="priced">
                <option value="0" data-price="0"> --Choose One-- </option>
                {% for psu in psus %}
                    {# If statement to retrive the currently selected psu from the old config. 
                    Note: If the psu is not compatible it will not be passed through (therefore the blank option will be selected) #}
                    {% if psu.id == config.psu %}
                        <option value="{{ psu.id }}" data-price="{{ psu.cost }}" selected>{{ psu.name }}</option>
                    {% else %}
                        <option value="{{ psu.id }}" data-price="{{ psu.cost }}">{{ psu.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label>

        <label>
            Operating System
            <select name="os" required class="priced">
                <option value="0" data-price="0"> --Choose One-- </option>
                {% for os in oses %}
                    {% if os.id == config.os %}
                        <option value="{{ os.id }}" data-price="{{ os.cost }}" selected>{{ os.name }}</option>
                    {% else %}
                        <option value="{{ os.id }}" data-price="{{ os.cost }}">{{ os.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label>
    </fieldset>

    <button>Finish Configuration</button>
</form>