<form method="post" action="/configuration/new/finish">
    <label>
        Powersupply
        <select required>
            <option value="0" data-price="0"> --Choose One-- </option>
            {% for psu in psus %}
                <option value="{{ psu.id }}" data-price="{{ psu.cost }}">{{ psu.name }}</option>
            {% endfor %}
        </select>
    </label>

    <label>
        Operating System
        <select required>
            <option value="0" data-price="0"> --Choose One-- </option>
            {% for os in oses %}
                <option value="{{ os.id }}" data-price="{{ os.cost }}">{{ os.name }}</option>
            {% endfor %}
        </select>
    </label>
    <button>Finish Configuration</button>
</form>