
<div id="config">
    <h2>Configuration</h2>


    <ul>
        <li>MB: {{ mb.name }}</li>
    </ul>
    <select id="motherboard" class="priced" hidden><option data-price="{{ mb.cost }}"></option></select>


</div>